{% extends 'base-dashboard.html.twig' %}

{% block title %}Création de Newsletter{% endblock %}

{% block body %}
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Newsletter</h4>
                                <li><a href="{{ path('newsletter_list') }}" data-text="Revenir en arrière"><span class="la la-fast-backward"></span></a></li>
                            </div>

                            <div class="widget-content">
                                <div class="table-outer">
                                    {{ include('newsletter/_form.html.twig', {'button_label': 'Update'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}