{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<!-- Faqs Section -->
<section class="faqs-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Foire Aux Questions</h2>
            <div class="text">Home / Faq</div>
        </div>

        <!--Accordian Box-->
        <ul class="accordion-box">
            <!--Block-->
            {% for faq in faqs %}
            <li class="accordion block {% if loop.first %} active-block{% endif %}">
                <div class="acc-btn {% if loop.first %} active{% endif %}">
                    {{ loop.index }} - {{ faq.question }}<span class="icon flaticon-add"></span></div>
                <div class="acc-content {% if loop.first %}current{% endif %}">
                    <div class="content">
                        <p>{{ faq.reponse }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- End Faqs Section -->
{% endblock %}