{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="message-box {{ type }}" role="alert">
            <p>{{ message }}</p>
            <button class="close-btn"><span class="close_icon"></span></button>
        </div>
    {% endfor %}
{% endfor %}