<!-- Job Section -->
<section class="job-section-four">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Featured Jobs</h2>
            <div class="text">Know your worth and find the job that qualify your life</div>
        </div>


        <div class="row">
            <!-- Job Block -->
            <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <ul class="job-other-info">
                        <li class="time">Full Time</li>
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                    </ul>
                    <span class="company-logo"><img src="images/resource/company-logo/3-1.png" alt=""></span>
                    <span class="company-name">Catalyst</span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
                    <ul class="post-tags">
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Digital</a></li>
                        <li class="colored">+2</li>
                    </ul>
                </div>
            </div>

            <!-- Job Block -->
            <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <ul class="job-other-info">
                        <li class="time">Full Time</li>
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                    </ul>
                    <span class="company-logo"><img src="images/resource/company-logo/3-2.png" alt=""></span>
                    <span class="company-name">Catalyst</span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
                    <ul class="post-tags">
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Digital</a></li>
                        <li class="colored">+2</li>
                    </ul>
                </div>
            </div>

            <!-- Job Block -->
            <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <ul class="job-other-info">
                        <li class="time">Full Time</li>
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                    </ul>
                    <span class="company-logo"><img src="images/resource/company-logo/3-3.png" alt=""></span>
                    <span class="company-name">Catalyst</span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
                    <ul class="post-tags">
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Digital</a></li>
                        <li class="colored">+2</li>
                    </ul>
                </div>
            </div>

            <!-- Job Block -->
            <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <ul class="job-other-info">
                        <li class="time">Full Time</li>
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                    </ul>
                    <span class="company-logo"><img src="images/resource/company-logo/3-4.png" alt=""></span>
                    <span class="company-name">Catalyst</span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
                    <ul class="post-tags">
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Digital</a></li>
                        <li class="colored">+2</li>
                    </ul>
                </div>
            </div>

            <!-- Job Block -->
            <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <ul class="job-other-info">
                        <li class="time">Full Time</li>
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                    </ul>
                    <span class="company-logo"><img src="images/resource/company-logo/3-5.png" alt=""></span>
                    <span class="company-name">Catalyst</span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
                    <ul class="post-tags">
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Digital</a></li>
                        <li class="colored">+2</li>
                    </ul>
                </div>
            </div>

            <!-- Job Block -->
            <div class="job-block-four col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <ul class="job-other-info">
                        <li class="time">Full Time</li>
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                    </ul>
                    <span class="company-logo"><img src="images/resource/company-logo/3-6.png" alt=""></span>
                    <span class="company-name">Catalyst</span>
                    <h4><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <div class="location"><span class="icon flaticon-map-locator"></span> London, UK</div>
                    <ul class="post-tags">
                        <li><a href="#">App</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Digital</a></li>
                        <li class="colored">+2</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-box">
            <a href="#" class="theme-btn btn-style-seven">Load More Listing</a>
        </div>
    </div>
</section>
<!-- End Job Section -->