<div style="padding: 140px 0 150px;">
    <div class="newsletter-form wow fadeInUp">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>S'inscrire à notre Newsletter</h2>
                <div class="text">Rejoignez-nous pour ne rater aucune actualité</div>
            </div>
            <form method="post" action="#" id="subscribe-form">
                <div class="form-group"><div class="response"></div></div>
                <div class="form-group">
                    <input type="email" name="email" class="email" value="" placeholder="Votre e-mail" required>
                    <a href="{{ path('newsletter') }}" id="subscribe-newslatters" class="theme-btn btn-style-one">S'inscrire</a>
                </div>
            </form>
        </div>
    </div>
</div>
