{% extends 'base.html.twig' %}

{% block title %}New Pavillon{% endblock %}

{% block body %}
    <h1>Ajouter un pavillon</h1>

    {{ include('pavillon/_form.html.twig') }}

    <a href="{{ path('pavillon_index') }}">back to list</a>
{% endblock %}
