{{ form_start(form, { 'attr': {'class': 'default-form'} }) }}
    {{ form_widget(form) }}
    <button class="theme-btn btn-style-one small">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
