{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
<div class="inner-column">
    <div class="filters-outer">
        <button type="button" class="theme-btn close-filters">X</button>

        <!-- Filter Block -->
        <div class="filter-block">
            <h4>Rechercher par nom</h4>
            <div class="form-group">
                {{ form_row(form.q) }}
                <span class="icon flaticon-search-3"></span>
            </div>
        </div>

        <div class="checkbox-outer">
            <h4>Zone géographique</h4>
            <ul class="checkboxes square">
                {{ form_row(form.zonegeographique) }}
            </ul>
        </div>

        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-12 col-sm-12 text-right">
            <button type="submit" class="theme-btn btn-style-one">Trouver</button>
        </div>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
