#profile_dateNaissance_time_hour {
  display: none;
}

.table.custom > thead {
  vertical-align: bottom;
  background: #F5F7FC;
  border-radius: 8px;
  color: #1967D2;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
  padding: 20px 30px;
  border: none;
}

.table.custom td {
  border-top: 1px solid #ECEDF2;
  color: #696969;
}

.image-container{
  width: 150px;
  height: 150px;
  background-size: 150px;
  background-position: center;
  font-size: 16px;
  position: relative;
}

.supprimer-image {
  position: absolute;
  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}