<div class="model">
    <div id="login-modal">
        <div class="login-form default-form">
            <div class="form-inner">
                {{ form_start(form, { 'attr': {'class': 'default-form', 'action' :  path('tag_new', {'profileId' : profile.id }) } }) }}
                {{ form_row(form.nom) }}
                <button class="btn theme-btn btn-style-one small" >{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>