{% extends 'base.html.twig' %}

{% block body %}
    <span class="header-span"></span>
    <section class="page-title">
        <div class="auto-container">
            <div class="title-outer">
                <h1>404</h1>
            </div>
        </div>
    </section>
    <section class="call-to-action">
        <div class="auto-container">
            <div class="outer-box wow fadeInUp">
                <div class="content-column">
                    <div class="sec-title">
                        <h2>Page not found</h2>
                        <div class="text">The requested page couldn't be located. Checkout for any URL
                            misspelling or </div>
                        <a href="{{ path('home') }}" class="theme-btn btn-style-one bg-blue"><span class="btn-title">return to the homepage</span></a>
                    </div>
                </div>

                <div class="image-column" style="background-image: url('{{ asset('uploads/calltoaction.png') }}');">
                    <figure class="image"><img src="{{ asset('uploads/calltoaction.png') }}" alt=""></figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}